a:link, a:visited {
  text-decoration: none;
  background-color: red;
  border: 1px solid black;
  display: block;
  width: 100px;
  text-align: center;
  margin-bottom: 3px;
  font-weight: bold;
}
a:hover, a:active {
  background-color: green;
  color: white;
}
h1:hover{
  cursor: pointer;
  font-size: 50px;
}
body {
  background-color: grey;
}